.header{
    display : flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 255, 0.6);
}
.router-link{
    text-decoration: none;
    color: rgb(251, 251, 251);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-weight: 600px;
}
.null{
    display: none;
}

